page-home {
  .item-ios{
    padding-left:10px
  }
  ion-card {
  }

  .card-title {
    margin-top: 10px;
    font-size: 16px;
  }

  .card-subtitle {
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
  }
}
